/* Remove the default margin and padding.
   Html and body take up the full width & height of the viewport.
      Remove default margin and padding.*/
      html,
      body {
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;

      }
      
      body {
        display: flex;
        min-height: 100vh;
      }
      
      .content {
        flex: 1;
      }
      
      /* Set flexbox layout.
              Stack children vertically.
                 Minimum height is full viewport height.*/
      body {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
      }
      
      .cursor-se-resize {
        cursor: se-resize;
      }
      
      #modalContent {
        overflow: auto;
      }

      /* Hide money meter on screens smaller than 640px */
@media (max-width: 640px) {
  #moneyMeterContainer {
      display: none;
  }
}

.category-section {
  background-color: #f0f0f0; /* Light grey background */
  border: 1px solid #d1d1d1; /* Slightly darker border */
  box-shadow: inset 0 4px 6px rgba(0,0,0,0.1); /* Inner shadow for depth */
  padding: 10px;
  border-radius: 8px; /* Rounded corners */
  transition: all 0.3s ease; /* Smooth transition for hover effect */
}

.category-section:hover {
  box-shadow: inset 0 6px 8px rgba(0,0,0,0.2); /* Deeper shadow on hover */
}
    
    