body {
  display: flex;        /* Set flexbox layout */
  flex-direction: column; /* Stack children vertically */
  min-height: 100vh;    /* Minimum height is full viewport height */
}

.cursor-se-resize {
  cursor: se-resize;
}

#modalContent {
  overflow: auto; 
}